* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  background-color: var(--background);
}

:root {
  --background: #f1f1f1;
  --borders: rgb(52, 130, 182);
  --text: black;
  --text2: #f1f1f1;
  --Header: rgb(99, 164, 207);
  --footer: rgb(99, 164, 207);
  --dialog: gray;
  --dialog2: black;
  --hover: orange;
  --tr: rgb(99, 164, 207);
  --listBackg: #f1f1f1;
  --popup: #f1f1f1;
  --popupText: #282A35;
}

:root.dark {

  --borders: #f1f1f1;
  --hover: rgb(21, 161, 138);
  --tr: black;
  --background: #3c3e47;
  --text: #f1f1f1;
  --text2: #f1f1f1;
  --Header: rgb(54, 49, 49);
  --footer: gray;
  --dialog: gray;
  --dialog2: black;
  --listBackg: #f1f1f1;
  --popup: #282A35;
  --popupText: #f1f1f1;
}

@font-face {
  font-family: 'EudQLD';
  src: url(./fonts/EduQLDBeginner-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
}

/* Main elements */
body {
  
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#container {
/*   font-family: 'EudQLD',Arial, Helvetica, sans-serif; */
}

footer {
  text-align: center;
  background-color: var(--footer);
  position: fixed;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  padding: 10px;
}
footer p {
  margin: auto;
  color: var(--text);
}


header {
  background-color: var(--Header);
  display: flex;
  
}

header h1 {
 color: var(--text);
}

header h2 {
  color: var(--text);
}


#main-table {
  border-spacing: 0;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

th {
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
  width: 100px;
  text-align: center;
}

td {
  margin: 10px;
}

.td-localCell{
  width: 200px;
}

.td-name {
  font-size: 1.2em;
}

.td-address {
font-size: 0.8em;
}

#main-table td {
  overflow:visible;
}

tr {
  display: flex;
  justify-content: space-between;
  border: solid var(--tr);
  border-radius: 20px;
  align-items: center;
}

tr button {
  margin: 10px;
  background: none;
	color: var(--text);
	border: thin solid var(--borders);
  border-radius: 10px;
  padding: 10PX;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: all 750ms;
    font-size: 1em;
    text-decoration: none;
}
tr button:hover {
  background-color: var(--hover);
}

dialog {
  border: none;
  min-width: 500px;
  min-height: 400px;
  background-color: var(--background);
  color: var(--text);
  border-radius: 20px;
}

select {

  /* styling */
  background-color: var(--background);
  border: thin solid var(--borders);
  color: var(--text);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
}


/* classes */

.highlight {
  font-weight: bold;
  background-color: rgb(194, 194, 235);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: white;}

.fa-sun {color: white;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}



/* Leaflet popup*/
.leaflet-popup-content-wrapper {
  border-radius: 0;
  text-align: center;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: var(--popup);
  color: var(--popupText);
}


.user-option {
  /* button for user info change */
  margin: 10px;
  background: none;
	color: var(--text);
	border: thin solid var(--borders);
  border-radius: 10px;
  padding: 10PX;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: all 750ms;
    font-size: 1em;
    text-decoration: none;
}

.user-option:hover {
  /* button for user info change */
  background-color: var(--hover);
}



/* id */


#tilte-head {
  display: flex;
  justify-content: space-between;
  flex: 3;
}
#logHead{
  display: flex;
  flex: 1;
  justify-content: end;
}
#login-button-frame {
  background: none;
  margin-right: 20px;
	color: var(--text);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  
}

#login-button-frame i {
  font-size: 2rem;
  transition: all 750ms;
}

#login-button-frame i:hover {
  color: var(--hover);
  font-size: 2.5rem;
}

#login-button-frame span{
  height: 44px;
  transition: all 750ms;
  border-radius: 10%;
}

#login-button-frame span:hover {
  background-color: var(--hover);
}


#userinfo-main-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#userinfo-main-page p {
  margin: 20px;
  color: var(--text);
  font-size: 1.5rem;
}


#avatar-main-page {
  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 50%;
  border: solid var(--borders);
  background-color: #19191b;
}

#favorit-target {
  font-weight: bold;
}

#username-target {
  font-weight: bold;
}

#email-target {
  font-weight: bold;
}

.inputfield {
  padding: 10px;
  margin: 10px auto 40px auto;
  width: 70%;
  background-color: inherit;
  border-radius: 10px;
  transition: all 750ms;
}

.form-control label {
  display: block;
}

form input:required {
  border-right: 15px solid orange;
  border-radius: 6px;

}

form input:valid:required {
  border-right: 6px solid green;
  border-radius: 5px;
}


#main-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 80vh;
}

#map {

  display: flex;
  flex: 1;
}

#list {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex: 1;
  flex-direction: column;

}

#napit {
  display: flex;
}

#dialog-head {
  display: flex;
  justify-content: space-between;
}


#select-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



#avatar-background {

  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #19191b;
  justify-content: center;
}
#avatar-background p {
  position: absolute;
  align-self: center;
  font-size: 3rem;
  color: var(--text2);
}

#avatar-target {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid var(--borders);
  transition: all 500ms ease-in-out 
}

#avatar-target:hover {
  opacity: 20%;
  cursor: pointer;
}


#close {
  margin: 0;
  background: none;
  border: none;
	color: var(--text);
  padding: 10PX;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: all 750ms;
    font-size: 1em;
    text-decoration: none;
}

#close p {
  font-size: 3rem;
  margin: 0;
}

#close:hover {
  color: rgb(177, 16, 16);
}

#user-options{
  display: flex;
  flex-direction: column;
}

#avatar {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#profile > p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1035px){
  dialog {
    min-width: 350px;
  }
  #map{
    height: 300px;
    display: block;
  }
  table {
    display: block;
    max-height: 40vh;
  }
  #main-content {
    display: block;
  }

}


@media only screen and (max-width: 925px){

}
@media only screen and (max-width: 625px){
  #userinfo-main-page p {
    display: none;
  }

}